<!DOCTYPE html>
<html lang="en">
<head>
  <meta th:replace="fragments/meta">
  <title>Рейтинг</title>
</head>
<header th:replace="fragments/header"/>
<body>
  <div class="container">
    <h1 class="row justify-content-center mb-4">
      Рейтинг групп
    </h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <ol class="list-group">
          <li th:each="rating: ${leaderboard}">
            <a class="list-group-item list-group-item-action">
              <span th:text="${rating.place}"></span>.
              <span th:text="${rating.title}"></span>
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</body>

</html>
